#form-container input {
    color: #f74848;
    background-color: #0f0f0f;
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    height: 2rem;
    margin-bottom: 1rem;
}

#form-container textarea {
    color: #f74848;
    background-color: #0f0f0f;
    font-family: inherit;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 5px;
    vertical-align: top;
    margin-bottom: 1rem;
}

#form-container ::placeholder {
    color: #f07f7f;
}

#form-container__picture {
    margin-bottom: 0.5rem;
}

.form-container__input-error {
    border: 2px solid red;
}

.form-container__error {
    color: red;
    font-size: 0.9rem;
    margin: -0.5rem 0 1rem 0;
}

#form-container__back {
    float: left;
}